[build]
  publish = "build/web"
  command = "echo 'Using pre-built files'"

[build.environment]
  NODE_VERSION = "18"
  APPWRITE_ENDPOINT = "https://nyc.cloud.appwrite.io/v1"
  APPWRITE_PROJECT_ID = "69384bc2002e7f635849"

[[redirects]]
  from = "/"
  to = "/home.html"
  status = 200

[[redirects]]
  from = "/app"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200